@font-face {
  font-family: 'montserrat';
  src: url('../fonts//Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts//Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts//Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'montserrat';
  font-weight: 400;
}
.container{
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar-logo,
.navbar-search{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-logo img{
  width: 65px;
}
.navbar-logo span{
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #4793FF;
  text-transform: uppercase;
}
.navbar-search img{
  width: 23px;
}
.navbar-search input{
  background:  rgba(71, 147, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  width: 200px;
}
.navbar-search input::placeholder{
  color: #000000;
}
.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.content-left{
  width: 400px;
  background: #FFFFFF;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.content-left__img img{
  position: absolute;
  width: 110px;
  right: 20px;
  top: 46px;
}
.content-left__degree{
  font-size: 96px;
  line-height: 80px;
  font-weight: 500;
  color: #4793FF;
}
.content-left__day{
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 16px;
}
.content-left__date,
.content-left__city{
  font-size: 25px;
  line-height: 30px;
  color: #939CB0;
  margin-top: 14px;
}
.content-right{
  width: 850px;
  background: #FFFFFF;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.content-right__img{
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: cover;
  right: 0;
  top: 0;
}
.content-right__item{
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.content-right__item--icon{
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 38px;
}
.content-right__item span{
  font-size: 14px;
  line-height: 17px;
}
.content-right__item--text{
  color: #939CB0;
}
.days{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 7px;
}
.days-btn{
  padding: 7px 21px;
  font-size: 18px;
  line-height: 22px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.5);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.week{
  background: #4793FF;
  color: #ffffff;
}
.cancel{
  background: #ffffff;
  color: #000000;
}
.week-list{
  width: 100%;
  min-height: 240px;
  padding: 20px 18px;
  background: #FFFFFF;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 0px 0px 20px 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
}
.card{
  background: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-title,
.card-temp{
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
}
.card-date{
  font-size: 14px;
  line-height: 17px;
  color: #939CB0;
  margin: 7px 0 12px;
}
.card-img{
  width: 48px;
  height: 48px;
}
.card-img img{
  width: 100%;
}
.card-temp-night,
.card-weather{
  font-size: 13px;
  line-height: 16px;
  color: #939CB0;
}
.card-temp{
  margin-top: 12px;
}
.card-weather{
  margin-top: 6px;
}

